/* Fonts */
$fontManrope: 'Manrope', sans-serif;


/* Texts */
$textGrey: #6E8098;
$textDark: #48556A;
$textLight: #9DAEC2;

/* Misc */
$blueDark: #2b3844;
$dark: #48556A;
$light: #ECF2F8;
$white: #ffffff;
